@model Events.Web.Models.EventDetailsViewModel

@if (Model.Description != null)
{
    <div class="description">Description: @Model.Description</div>
}

@if (Model.Comments.Any())
{
    @:Comments:
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                @comment.Text
                @if (@comment.Author != null)
                {
                    @: (by @comment.Author)
                }
                @Html.ActionLink("Delete", "DeleteComment", "Home", new { id = comment.Id }, new { @class = "btn btn-default" })
            </li>
        }
    </ul>
}
else
{
    <p>No comments</p>
}

<div id="comment-details-@Model.Id">
    @Ajax.ActionLink("Add Comment", "AddComment", "Home", new { eventId = Model.Id },
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "comment-details-" + Model.Id
        }, new { @class = "btn btn-default" })
</div>

@if (ViewBag.CanEdit)
{
    @Html.ActionLink("Edit", "Edit", "Events", new { id = Model.Id }, new { @class = "btn btn-default" })
    <span></span>
    @Html.ActionLink("Delete", "Delete", "Events", new { id = Model.Id }, new { @class = "btn btn-default" })
}
